# Set default behavior, in case users don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.js text eol=lf
*.md text eol=lf
*.html text eol=lf
